$color-white: #ffffff;
$color-black: #000000;
$color-gray: #FAFAFA;

$color-neutral-black: #1A051D;

$color-theme-accent-1: #6979F8;
$color-theme-accent-2: #A5AFFB;
$color-theme-accent-3: #E5E7FA;

$color-theme-primary-1: #BE52F2;
$color-theme-primary-2: #DBA5F5;
$color-theme-primary-3: #EEDFF2;

$color-gradient-purple: linear-gradient(225deg, #BD7AE3 0%, #8461C9 100%);
$color-gradient-lighten-purple: linear-gradient(225deg, #CDDDF4 3.26%, #CDBAFA 100%);
