// Base colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #FAFAFA;
$color-darken-gray: #ECE9F1;
$color-darken-gray-alternative: #ECEBED;
$color-disabled-gray: #F7F5F9;

// Neutral colors
$color-neutral-black: #1A051D;
$color-neutral-gray: #3F3356;

// Theme colors
$color-theme-accent: #6979F8;
$color-theme-accent-hover: #A5AFFB;
$color-theme-primary: #BE52F2;
$color-theme-primary-hover: #DBA5F5;
$color-theme-success: #00C48C;
$color-theme-success-hover: #7DDFC3;
$color-theme-info: #0084F4;
$color-theme-info-hover: #66B5F8;
$color-theme-warning: #FFA26B;
$color-theme-warning-hover: #FFC7A6;
$color-theme-danger: #FF647C;
$color-theme-danger-hover: #FDAFBB;

$color-gradient-purple: linear-gradient(225deg, #BD7AE3 0%, #8461C9 100%);
$color-gradient-lighten-purple: linear-gradient(225deg, #CDDDF4 3.26%, #CDBAFA 100%);
