.title {
  &-0 {
    font-family: $ff-sf-regular;
    font-size: 2.5rem; //40px
    line-height: 1.3;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
  }

  &-1 {
    font-family: $ff-sf-medium;
    font-size: 2.125rem; //34px
    line-height: 1.3;
  }

  &-2 {
    font-family: $ff-sf-medium;
    font-size: 1.375rem; //22px
    line-height: 1.4;
  }

  &-3 {
    font-family: $ff-sf-medium;
    font-size: 1.125rem; //18px
    line-height: 1.35;
  }

  &-4 {
    font-family: $ff-sf-medium;
    font-size: 1rem; //16px
    line-height: 1.3;
  }
}
