@import "reset";
@import "fonts";
@import "colors";
@import "vars";
@import "titles";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $ff-sf-regular;
  background: $color-gray;
  color: $color-neutral-black;
}

html {
  &.is-scroll-disable {
    overflow-y: hidden;
  }
}

.main-layout {
  width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  position: relative;
}

.content-layout {
  margin-left: 14rem;
  padding: 2rem;
  transition: margin-left .3s ease-in-out;

  &.is-full {
    margin-left: 0;
  }
}

%c-wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.container {
  @extend %c-wrap;
}
