.sidebar {
  position: fixed;
  z-index: $z-layout;
  left: 0;
  top: 7.5rem;
  height: 100%;
  padding: 1.25rem 0;
  width: 14rem;
  transition: transform .3s ease-in-out;
  transform: translateX(-13rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  background-color: $color-theme-accent;

  &.is-open {
    transform: translateX(0);
  }
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background-color: $color-theme-accent;
  color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .875rem;
  
  &.is-open span {
    transform: rotate(180deg);
  }

  > span {
    transition: transform .3s ease-in-out;
  }
}

.sidebar-list {
  &__item {
    &-link {
      display: block;
      font-family: $ff-sf-medium;
      font-size: 1.125rem;
      transition: .3s ease-in-out;
      margin-bottom: .75rem;
      color: $color-white;
      border-radius: 1rem;
      border: 1px solid transparent;
      padding: .5rem 1rem;

      &:hover {
        color: $color-theme-accent;
        border-color: $color-white;
        background-color: $color-white;
      }

      &.is-active {
        color: $color-theme-accent;
        border-color: $color-white;
        background-color: $color-white;
      }
    }
  }
}
