.sidebar {
  position: fixed;
  left: 0;
  top: 3.75rem;
  height: 100%;
  padding: 1.25rem 0;
  z-index: $z-layout;
  width: 14rem;
  transition: .2s ease-in-out;
  transform: translateX(0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  background-color: $color-white;
}

.sidebar-list {
  &__item {
    &-link {
      display: block;
      font-family: $ff-sf-medium;
      font-size: 1.125rem;
      transition: .2s ease;
      margin-bottom: .75rem;
      color: $color-theme-accent-1;
      border-radius: .25rem;
      border: 1px solid transparent;
      padding: .5rem 1rem;
  
      &:hover {
        color: $color-theme-accent-1;
        border-color: $color-theme-accent-1;
      }
    }
  }
}
